*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

.error{
  border: 1px solid #ff5b5f;
  background: #ffc5c1;
  padding: .6rem;
  margin-bottom: 1rem;
}

.posts-container{
  margin-top: 2.1rem;
}

.post{
  position: relative;
  border: 1px solid #5bd658;
  background: #bcffb8;
  padding: .6rem .6rem 1.9rem .6rem;
  margin-bottom: 1.8rem;
}

.created-at{
  position: absolute;
  top: 0;
  left: 0;
  padding: .2rem 1rem;
  background: darkgreen;
  color: #fff;
  font-size: .86rem;
}

.text{
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
}